@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}

.container {
  max-width: 1360px;
  min-width: 380px;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.about__container {
  margin: 100px auto 60px auto;
}

.about__title {
  max-width: 1360px;
}

.about__grid {
  width: 100%;
  margin: 40px auto;
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-areas: "a c" "a c" "a c" "a d" "b d" "b d" "b d";
}
@media screen and (max-width: 800px) {
  .about__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
.about__grid .about__item {
  width: 660px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media screen and (max-width: 1432px) {
  .about__grid .about__item {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .about__grid .about__item {
    width: 684px;
  }
}
.about__grid .about__item img {
  width: 726px;
  height: 726px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all linear 0.7s;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 1432px) {
  .about__grid .about__item img {
    width: 110%;
  }
}
@media screen and (max-width: 800px) {
  .about__grid .about__item img {
    width: 726px;
  }
}
@media (hover: hover) {
  .about__grid .about__item:hover img {
    border-radius: 20px;
    transform: scale(0.95);
  }
}
.about__grid .about__item1 {
  grid-area: a;
  height: 590px;
  aspect-ratio: 660/590;
}
.about__grid .about__item2 {
  grid-area: b;
  height: 430px;
  aspect-ratio: 660/430;
}
@media screen and (max-width: 800px) {
  .about__grid .about__item2 {
    display: none;
  }
}
.about__grid .about__item3 {
  grid-area: c;
  height: 430px;
  aspect-ratio: 660/430;
}
@media screen and (max-width: 800px) {
  .about__grid .about__item3 {
    display: none;
  }
}
.about__grid .about__item4 {
  grid-area: d;
  height: 590px;
  aspect-ratio: 660/590;
}/*# sourceMappingURL=about.css.map */