@import "var";
@import "common";

.about__container {
    margin: 90px auto 65px auto;
}

.about__title {
    max-width: 1360px;
}

.about__grid {
    width: 100%;
    margin: 35px auto;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-areas: "a c" "a c" "a c" "a d" "b d" "b d" "b d";

    .about__item1 {
        grid-area: a;
        height: 590px;
    }

    .about__item2 {
        grid-area: b;
        height: 430px;
    }

    .about__item3 {
        grid-area: c;
        height: 430px;
    }

    .about__item4 {
        grid-area: d;
        height: 590px;
    }

    .about__item {
        width: 660px;
        border-radius: 20px;
        overflow: hidden;
        img {
            width: 110%;
            height: 110%;
            object-fit: cover;
            transition: all linear .7s;
        }
    }

    .about__item:hover img {
        border-radius: 20px;
        transform: scale(0.9);
    }
}