@import "var";

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

main {
    margin: 0 auto;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100vw;
    margin: 0 auto;
    background-color: $light;
	padding: 0 40px 40px 40px;
    overflow-x: hidden;
}

.container {
	max-width: 1360px;
	min-width: 380px;
	width: 100%;
    overflow-x: hidden;
}

.title {
    @include textStyle($font, $title, 75px, 600, $text-bg);
    span{
        font-style: italic;
		color: $accent;
    }
}

.subtitle {
    @include textStyle($font, $subtitle, 30px, 600, $text-bg);
}

.link {
    @include textStyle($font, $text, 24px, 600, $text-bg);
}

.text {
    @include textStyle($font, $text, 24px, 400, $text-bg);
}

.btn {
    width: 200px;
    height: 64px;
    border-radius: 100px;
    cursor: pointer;
}