@import "var";
@import "common";

.enjoy__container {
    margin: 20px auto;
    height: 644px;
    padding: 100px 0 100px 100px;
    border-radius: 40px;
    background-image: url(../IMG/img-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.enjoy__content {
    max-width: 50%;

    .enjoy__title {
        max-width: 530px;
        @include textStyle($font, $h1, 75px, 600, $light);
        span {
            color: $accent;
            font-style: italic;
        }
    }

    .enjoy__text {
        max-width: 530px;
        margin: 42px 0;
        color: $light;
    }

    .enjoy__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light;
        text-align: center;
        position: relative;
        transition: all linear .5s;

        &::after {
            content: url(../icon/coffee-cup.svg);
            width: 20px;
            height: 20px;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            right: 60px;
            transition: all linear .5s;
        }
    }

    @media(hover: hover) {
        .enjoy__btn:hover {
            padding-right: 40px;
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .enjoy__btn:active {
        transform: scale(0.9);
    }    
}