@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}

.container {
  max-width: 1360px;
  min-width: 380px;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.enjoy__container {
  margin: 20px auto 0 auto;
  height: 644px;
  padding: 100px 0 100px 100px;
  border-radius: 40px;
  background-image: url(../IMG/img-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media screen and (max-width: 1432px) {
  .enjoy__container {
    padding: 7% 0 7% 7%;
  }
}
@media screen and (max-width: 800px) {
  .enjoy__container {
    padding: 100px 20px 100px 60px;
  }
}

.enjoy__content {
  max-width: 50%;
}
@media screen and (max-width: 1432px) {
  .enjoy__content {
    max-width: 90%;
  }
}
.enjoy__content .enjoy__title {
  max-width: 530px;
  font-family: "Inter", sans-serif;
  font-size: 72px;
  line-height: 75px;
  font-weight: 600;
  color: #E1D4C9;
}
.enjoy__content .enjoy__title span {
  color: #B0907A;
  font-style: italic;
}
.enjoy__content .enjoy__text {
  max-width: 530px;
  margin: 42px 0;
  color: #E1D4C9;
}
.enjoy__content .enjoy__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1D4C9;
  text-align: center;
  position: relative;
  transition: all linear 0.5s;
}
.enjoy__content .enjoy__btn::after {
  content: url(../icon/coffee-cup.svg);
  width: 20px;
  height: 20px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 60px;
  transition: all linear 0.5s;
}
@media (hover: hover) {
  .enjoy__content .enjoy__btn:hover {
    padding-right: 40px;
  }
  .enjoy__content .enjoy__btn:hover::after {
    opacity: 1;
    visibility: visible;
  }
}
.enjoy__content .enjoy__btn:active {
  transform: scale(0.9);
}/*# sourceMappingURL=enjoy.css.map */