@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}
@media screen and (max-width: 440px) {
  .wrapper {
    padding: 0 16px 40px 16px;
  }
}

.container {
  max-width: 1360px;
  min-width: 348px;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 680px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 770px) {
  .link {
    font-size: 32px;
    line-height: 40px;
  }
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.blur {
  opacity: 0.3;
  transition: all linear 0.5s;
}

.favorites__container {
  margin: 0 auto;
}

.favorites__title {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
}

.favorites__content {
  width: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto;
  gap: 40px;
}
@media screen and (max-width: 1432px) {
  .favorites__content {
    padding: 0;
  }
}
@media screen and (max-width: 640px) {
  .favorites__content {
    gap: 0;
  }
}

.favorites__arrow {
  width: 60px;
  height: 60px;
  border: 1px solid #665F55;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all linear 0.7s;
}
@media screen and (max-width: 640px) {
  .favorites__arrow {
    display: none;
  }
}
.favorites__arrow .arrow-svg path {
  transition: all linear 0.7s;
}

@media (hover: hover) {
  .favorites__arrow:hover {
    background-color: #665F55;
  }
}
@media (hover: hover) {
  .favorites__arrow:hover .arrow-svg path {
    stroke: #E1D4C9;
  }
}
.favorites__carusel {
  max-width: 1150px;
  overflow-x: hidden;
}
@media screen and (max-width: 1432px) {
  .favorites__carusel {
    max-width: 84.5%;
    width: 84, 5%;
  }
}
@media screen and (max-width: 1250px) {
  .favorites__carusel {
    max-width: 80%;
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .favorites__carusel {
    max-width: 480px;
    width: 480px;
  }
}
@media screen and (max-width: 640px) {
  .favorites__carusel {
    max-width: 100%;
    width: 100%;
  }
}
.favorites__carusel .favorites__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: all ease-in-out 0.5s;
}
.favorites__carusel .favorites__slider .favorites__card {
  min-width: 1150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1432px) {
  .favorites__carusel .favorites__slider .favorites__card {
    min-width: 100%;
    width: 100%;
  }
}
.favorites__carusel .favorites__slider .favorites__card .favorites__img {
  width: 480px;
  height: 480px;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 640px) {
  .favorites__carusel .favorites__slider .favorites__card .favorites__img {
    width: 348px;
    height: 348px;
  }
}
.favorites__carusel .favorites__slider .favorites__card .favorites__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.favorites__carusel .favorites__slider .favorites__card .favorites__subtitle {
  width: 100%;
  text-align: center;
  margin: 20px auto 15px auto;
}
.favorites__carusel .favorites__slider .favorites__card .favorites__text {
  max-width: 480px;
  text-align: center;
  margin: 0 auto;
}
.favorites__carusel .favorites__slider .favorites__card .favorites__price {
  width: 100%;
  text-align: center;
  margin: 16px auto 0 auto;
}
.favorites__carusel .slide__center {
  transform: translateX(0);
}
.favorites__carusel .slide__right {
  transform: translateX(-100%);
}

.favorites__pagination {
  width: 145px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.favorites__pagination .pagination__item {
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: #C1B6AD;
}
.favorites__pagination .pagination__item .bar__inner {
  display: block;
  width: 0;
  height: 100%;
  border-radius: 100px;
  background-color: #665F55;
}/*# sourceMappingURL=favorites.css.map */