@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}
@media screen and (max-width: 440px) {
  .wrapper {
    padding: 0 16px 40px 16px;
  }
}

.container {
  max-width: 1360px;
  min-width: 348px;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 680px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.footer__container {
  width: 100% auto;
  margin: 0 auto;
  padding: 100px;
  max-height: 450px;
  display: flex;
  background-color: #665F55;
  border-radius: 40px;
  gap: 136px;
}
@media screen and (max-width: 1100px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    max-height: 740px;
    height: 738px;
    padding: 100px 60px;
  }
}
@media screen and (max-width: 460px) {
  .footer__container {
    gap: 0;
    height: auto;
    padding: 60px 16px;
  }
}

.footer__content .footer__title {
  color: #E1D4C9;
  max-width: 530px;
}
.footer__content .footer__media {
  margin: 40px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (max-width: 460px) {
  .footer__content .footer__media {
    margin-bottom: 0;
  }
}
.footer__content .footer__media .footer__media-item {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid #C1B6AD;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
}
.footer__content .footer__media .footer__media-item .social-svg {
  fill: none;
}
.footer__content .footer__media .footer__media-item .social-svg path {
  transition: all ease-in-out 0.7s;
}
@media (hover: hover) {
  .footer__content .footer__media .footer__media-item:hover {
    background-color: #E1D4C9;
  }
}
@media (hover: hover) {
  .footer__content .footer__media .footer__media-item:hover .social-svg path {
    stroke: #403F3D;
  }
}

.footer__contacts .footer__subtitle {
  margin: 35px 0 38px 0;
  color: #E1D4C9;
}
@media screen and (max-width: 460px) {
  .footer__contacts .footer__subtitle {
    margin: 40px 0;
  }
}
.footer__contacts .footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateX(32px);
}
.footer__contacts .footer__contacts .footer__contact {
  max-width: 230px;
}
.footer__contacts .footer__contacts .footer__contact .footer__link {
  display: inline-block;
  color: #E1D4C9;
  cursor: pointer;
  position: relative;
}
.footer__contacts .footer__contacts .footer__contact .footer__link::before {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -32px;
}
.footer__contacts .footer__contacts .footer__contact .footer__link::after {
  content: "";
  display: block;
  width: 1px;
  margin: 0 auto;
  height: 2px;
  transition: all linear 1s;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
}
@media (hover: hover) {
  .footer__contacts .footer__contacts .footer__contact .footer__link:hover::after {
    width: 100%;
    background-color: #E1D4C9;
  }
}
.footer__contacts .footer__contacts .footer__contact .footer__link1::before {
  content: url(../icon/mark.svg);
}
.footer__contacts .footer__contacts .footer__contact .footer__link2::before {
  content: url(../icon/Path.svg);
}
.footer__contacts .footer__contacts .footer__contact .footer__link3 {
  pointer-events: none;
}
.footer__contacts .footer__contacts .footer__contact .footer__link3::before {
  content: url(../icon/clock.svg);
}/*# sourceMappingURL=footer.css.map */