@import "var";
@import "common";

.main__container {
    margin: 0 auto;
    padding-bottom: 100px;

    .main__title {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }
}

.main__buttons {
    max-width: 360px;
    margin:  40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .main__radio {
        display: none;
    }
}

.main__button {
    max-width: 124px;
    min-width: 90px;
    height: 46px;
    border-radius: 100px;
    border: 1px solid $border;
    padding: 8px 16px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
    cursor: pointer;
    transition: all ease-in-out .5s;

    .main__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 30px;
        height: 30px;
        background-color: $border;
        border-radius: 100%;
        transition: all ease-in-out .5s;
    }

    .main__label {
        display: block;
        @include textStyle($font, $text, 24px, 600, $text-bg);
        transition: all ease-in-out .5s;
    }

}

.main__button1 {
    width: 115px;
}

.main__button2 {
    width: 90px;
}

.main__button3 {
    width: 124px;
}

@media(hover: hover){
    .main__button:hover {
        background-color: $dark;
        .main__label {
            color: $light;
        }
        .main__icon {
            background-color: $light;
        }
    }
}

.main__radio:checked + .main__button {
    background-color: $dark;
    cursor: auto;
    .main__label {
        color: $light;
    }
    .main__icon {
        background-color: $light;
    }
}

.main__grid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-template-areas: "a b c d" 
    "e f g h";

    .main__card {
        width: 310px;
        height: 506px;
        border: 1px solid $border;
        border-radius: 40px;
        padding-bottom: 20px;
        position: relative;
        cursor: pointer;

        .card__img {
            width: 310px;
            height: 310px;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            img {
                width: 340px;
                height: 340px;
                object-fit: cover;
                transition: all linear .7s;
            }
        }

        .card__subtitle {
            max-width: 270px;
            margin: 20px 20px 10px 20px;
        }

        .card__text {
            max-width: 270px;
            margin: 10px 20px;
        }

        .card__price {
            max-width: 270px;
            margin: 0 20px;
            position: absolute;
            bottom: 20px;
        }
    }

    @media(hover: hover){
        .main__card:hover .card__img img {
            transform: scale(0.95);
        }
    }

    .main__card1 {
        grid-area: a;
    }
    .main__card2 {
        grid-area: b;
    }
    .main__card3 {
        grid-area: c;
    }
    .main__card4 {
        grid-area: d;
    }
    .main__card5 {
        grid-area: e;
    }
    .main__card6 {
        grid-area: f;
    }
    .main__card7 {
        grid-area: g;
    }
    .main__card8 {
        grid-area: h;
    }
}