@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}

.container {
  width: 1360px;
  overflow-x: hidden;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.main__container {
  margin: 0 auto;
  padding-bottom: 100px;
}
.main__container .main__title {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.main__buttons {
  max-width: 360px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.main__buttons .main__radio {
  display: none;
}

.main__button {
  max-width: 124px;
  min-width: 90px;
  height: 46px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  padding: 8px 16px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.main__button .main__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #C1B6AD;
  border-radius: 100%;
  transition: all ease-in-out 0.5s;
}
.main__button .main__label {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
  transition: all ease-in-out 0.5s;
}

.main__button1 {
  width: 115px;
}

.main__button2 {
  width: 90px;
}

.main__button3 {
  width: 124px;
}

.main__button:hover {
  background-color: #665F55;
}
.main__button:hover .main__label {
  color: #E1D4C9;
}
.main__button:hover .main__icon {
  background-color: #E1D4C9;
}

.main__radio:checked + .main__button {
  background-color: #665F55;
  cursor: auto;
}
.main__radio:checked + .main__button .main__label {
  color: #E1D4C9;
}
.main__radio:checked + .main__button .main__icon {
  background-color: #E1D4C9;
}

.main__grid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-template-areas: "a b c d" "e f g h";
}
.main__grid .main__card {
  width: 310px;
  height: 506px;
  border: 1px solid #C1B6AD;
  border-radius: 40px;
  padding-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.main__grid .main__card .card__img {
  width: 310px;
  height: 310px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main__grid .main__card .card__img img {
  width: 340px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all linear 0.7s;
}
.main__grid .main__card .card__subtitle {
  max-width: 270px;
  margin: 20px 20px 10px 20px;
}
.main__grid .main__card .card__text {
  max-width: 270px;
  margin: 10px 20px;
}
.main__grid .main__card .card__price {
  max-width: 270px;
  margin: 0 20px;
  position: absolute;
  bottom: 20px;
}
.main__grid .main__card:hover .card__img img {
  transform: scale(0.95);
}
.main__grid .main__card1 {
  grid-area: a;
}
.main__grid .main__card2 {
  grid-area: b;
}
.main__grid .main__card3 {
  grid-area: c;
}
.main__grid .main__card4 {
  grid-area: d;
}
.main__grid .main__card5 {
  grid-area: e;
}
.main__grid .main__card6 {
  grid-area: f;
}
.main__grid .main__card7 {
  grid-area: g;
}
.main__grid .main__card8 {
  grid-area: h;
}/*# sourceMappingURL=menu.css.map */