@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}
@media screen and (max-width: 440px) {
  .wrapper {
    padding: 0 16px 40px 16px;
  }
}

.container {
  max-width: 1360px;
  min-width: 348px;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 680px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 800px) {
  .link {
    font-size: 32px;
    line-height: 40px;
  }
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.mobile__container {
  margin: 60px auto 100px auto;
  display: flex;
  gap: 100px;
}
@media screen and (max-width: 1100px) {
  .mobile__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 440px) {
  .mobile__container {
    gap: 40px;
  }
}
.mobile__container .mobile__content {
  align-self: center;
  max-width: 50%;
}
@media screen and (max-width: 1100px) {
  .mobile__container .mobile__content {
    max-width: 100%;
  }
}
.mobile__container .mobile__content .mobile__title {
  max-width: 600px;
}
@media screen and (max-width: 1100px) {
  .mobile__container .mobile__content .mobile__title {
    max-width: 100%;
  }
}
.mobile__container .mobile__content .mobile__text {
  max-width: 630px;
  margin: 40px 0;
}
@media screen and (max-width: 1100px) {
  .mobile__container .mobile__content .mobile__text {
    max-width: 100%;
  }
}
.mobile__container .mobile__content .mobile__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 440px) {
  .mobile__container .mobile__content .mobile__buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}
.mobile__container .mobile__content .mobile__buttons .mobile__btn {
  border: 1px solid #665F55;
  padding: 12px 20px 10px 20px;
  display: flex;
  align-items: center;
  gap: 17px;
  transition: all ease 0.7s;
}
.mobile__container .mobile__content .mobile__buttons .mobile__btn .mobile__icon {
  width: 26px;
  height: 31px;
}
.mobile__container .mobile__content .mobile__buttons .mobile__btn .mobile__icon .btn-svg {
  fill: #403F3D;
  transition: all ease 0.7s;
}
.mobile__container .mobile__content .mobile__buttons .mobile__btn .mobile__services .services__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  color: #403F3D;
  transition: all ease 0.7s;
}
.mobile__container .mobile__content .mobile__buttons .mobile__btn .mobile__services .services__title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
  transition: all ease 0.7s;
}
@media (hover: hover) {
  .mobile__container .mobile__content .mobile__buttons .mobile__btn:hover {
    background-color: #665F55;
  }
}
@media (hover: hover) {
  .mobile__container .mobile__content .mobile__buttons .mobile__btn:hover .services__subtitle {
    color: #E1D4C9;
  }
}
@media (hover: hover) {
  .mobile__container .mobile__content .mobile__buttons .mobile__btn:hover .services__title {
    color: #E1D4C9;
  }
}
@media (hover: hover) {
  .mobile__container .mobile__content .mobile__buttons .mobile__btn:hover .mobile__icon .btn-svg {
    fill: #E1D4C9;
  }
}
.mobile__container .mobile__img {
  width: 630px;
  height: 630px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
@media screen and (max-width: 1432px) {
  .mobile__container .mobile__img {
    width: 46%;
    height: auto;
  }
}
@media screen and (max-width: 1100px) {
  .mobile__container .mobile__img {
    width: 630px;
    height: 630px;
  }
}
@media screen and (max-width: 700px) {
  .mobile__container .mobile__img {
    width: 348px;
    height: 348px;
  }
}
.mobile__container .mobile__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=mobile.css.map */