@import "var";
@import "common";

.mobile__container {
    margin: 65x 0;
    display: flex;
    align-items: center;
    gap: 140px;

    .mobile__content {
        max-width: 50%;

        .mobile__title {
            max-width: 600px;
        }

        .mobile__text {
            max-width: 630px;
            margin: 40px 0 35px 0;
        }

        .mobile__buttons {
            display: flex;
            align-items: center;
            gap: 20px;

            .mobile__btn {
                border: 1px solid $dark;
                padding: 12px, 20px, 12px, 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 13px;
                transition: all ease 0.7s;

                .mobile__icon {
                    width: 26px;
                    height: 31px;

                    .btn-svg {
                        fill: $text-bg;
                        transition: all ease 0.7s;
                    }
                }

                .mobile__services {
                    .services__subtitle {
                        @include textStyle($font, $small-text, 14px, 600, $text-bg);
                        transition: all ease 0.7s;
                    }
                    .services__title {
                        @include textStyle($font, $subtitle, 24px, 600, $text-bg);
                        transition: all ease 0.7s;
                    }
                }

            }

            .mobile__btn:hover {
                background-color: $dark;
            }

            .mobile__btn:hover .services__subtitle {
                color: $light;
            }

            .mobile__btn:hover .services__title {
                color: $light;
            }

            .mobile__btn:hover .btn-svg {
                color: $light;
            }

        }
    }

    .mobile__img {
        max-width: 50%;
        width: 630px;
        height: 630px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}