@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}
@media screen and (max-width: 440px) {
  .wrapper {
    padding: 0 16px 40px 16px;
  }
}

.container {
  max-width: 1360px;
  min-width: 348px;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 680px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 770px) {
  .link {
    font-size: 32px;
    line-height: 40px;
  }
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}
@media screen and (max-width: 440px) {
  .wrapper {
    padding: 0 16px 40px 16px;
  }
}

.container {
  max-width: 1360px;
  min-width: 348px;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 680px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 770px) {
  .link {
    font-size: 32px;
    line-height: 40px;
  }
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.header__container {
  margin: 20px auto 0 auto;
  max-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 363px;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
}
@media screen and (max-width: 1432px) {
  .header__container {
    gap: 0;
  }
}
.header__container .header__logo {
  display: block;
  width: 100px;
  height: 60px;
  aspect-ratio: 100/60;
}
@media screen and (max-width: 770px) {
  .header__container .header__logo {
    order: 1;
    position: absolute;
    top: 20px;
    left: 5%;
  }
}
.header__container .header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__container_active {
  height: 100vh;
  max-height: 1000px;
  flex-wrap: wrap;
}

@media screen and (max-width: 770px) {
  .header__nav {
    order: 3;
    flex-basis: 100%;
    margin-top: 110px;
    transform: translateX(100%);
    transition: all ease-in 0.5s;
  }
}

.header__nav_active {
  transform: translateX(0);
  transition: all ease-in-out 0.5s;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 1432px) {
  .header__menu {
    min-width: 440px;
    flex-basis: 30%;
    gap: 5%;
  }
}
@media screen and (max-width: 770px) {
  .header__menu {
    flex-direction: column;
    gap: 50px;
  }
}
.header__menu .header__item {
  display: block;
  padding-top: 3px;
}
@media (hover: hover) {
  .header__menu .header__item:hover + .header__line {
    width: 100%;
    background-color: #403F3D;
  }
}

.header__line {
  display: block;
  width: 1px;
  margin: 2px auto;
  height: 2px;
  transition: all linear 1s;
}

.header__item_special {
  display: none;
}
@media screen and (max-width: 770px) {
  .header__item_special {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    position: relative;
    margin-top: 50px;
  }
  .header__item_special .header__coffee {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
  }
  .header__item_special .header__coffee img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header__item_special::after {
    content: "";
    display: block;
    width: 1px;
    margin: 0 auto;
    height: 2px;
    transition: all linear 1s;
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;
  }
}

@media (hover: hover) {
  .header__item_special:hover::after {
    width: 100%;
    background-color: #403F3D;
  }
}
@media screen and (max-width: 770px) {
  .header__icons {
    order: 2;
  }
}
.header__icons .header__btn {
  max-width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 8px;
  flex-wrap: wrap;
}
@media screen and (max-width: 770px) {
  .header__icons .header__btn {
    display: none;
  }
}
.header__icons .header__btn .header__link {
  display: block;
}
.header__icons .header__btn .header-menu__link {
  cursor: auto;
  pointer-events: none;
}
.header__icons .header__btn .header__link_hover {
  display: block;
  width: 1px;
  margin: 0 auto;
  height: 2px;
  position: relative;
  top: -5px;
  transition: all linear 1s;
}
.header__icons .header__btn .header__link_active {
  width: 100%;
  background-color: #403F3D;
}
@media (hover: hover) {
  .header__icons .header__btn .header__link:hover ~ .header__link_hover {
    width: 100%;
    background-color: #403F3D;
  }
}
.header__icons .header__btn .header__coffee {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  transform: translateY(-2px);
}
.header__icons .header__btn .header__coffee img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__icons .burger {
  display: none;
}
@media screen and (max-width: 770px) {
  .header__icons .burger {
    position: absolute;
    top: 25px;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    border: 1px solid #665F55;
    cursor: pointer;
  }
  .header__icons .burger .burger__item {
    display: block;
    width: 16px;
    height: 1.5px;
    background-color: #403F3D;
    border-radius: 1px;
    transition: all ease-in-out 0.5s;
  }
  .header__icons .burger .burger__item1_active {
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
  }
  .header__icons .burger .burger__item2_active {
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
  }
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}
@media screen and (max-width: 440px) {
  .wrapper {
    padding: 0 16px 40px 16px;
  }
}

.container {
  max-width: 1360px;
  min-width: 348px;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 680px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 770px) {
  .link {
    font-size: 32px;
    line-height: 40px;
  }
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.enjoy__container {
  margin: 20px auto 0 auto;
  height: 644px;
  padding: 100px 0 100px 100px;
  border-radius: 40px;
  background-image: url(../IMG/img-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1432px) {
  .enjoy__container {
    padding: 7% 0 7% 7%;
  }
}
@media screen and (max-width: 800px) {
  .enjoy__container {
    padding: 100px 20px 100px 60px;
  }
}
@media screen and (max-width: 730px) {
  .enjoy__container {
    padding: 60px 16px;
    height: auto;
  }
}

.video {
  min-width: 120%;
  min-height: 644px;
  width: 120%;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: -20%;
}
@media screen and (max-width: 730px) {
  .video {
    min-height: 800px;
  }
}

.enjoy__content {
  position: relative;
  z-index: 2;
  max-width: 50%;
}
@media screen and (max-width: 1432px) {
  .enjoy__content {
    max-width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .enjoy__content {
    max-width: 100%;
  }
}
.enjoy__content .enjoy__title {
  max-width: 530px;
  font-family: "Inter", sans-serif;
  font-size: 72px;
  line-height: 75px;
  font-weight: 600;
  color: #E1D4C9;
}
@media screen and (max-width: 680px) {
  .enjoy__content .enjoy__title {
    font-size: 42px;
    line-height: 48.3px;
  }
}
.enjoy__content .enjoy__title span {
  color: #B0907A;
  font-style: italic;
}
.enjoy__content .enjoy__text {
  max-width: 530px;
  margin: 42px 0;
  color: #E1D4C9;
}
@media screen and (max-width: 400px) {
  .enjoy__content .enjoy__text {
    margin: 40px 0;
  }
}
.enjoy__content .enjoy__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1D4C9;
  text-align: center;
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
  transition: all linear 0.5s;
}
@media screen and (max-width: 800px) {
  .enjoy__content .enjoy__btn {
    padding-right: 30px;
  }
}
.enjoy__content .enjoy__btn::after {
  content: url(../icon/coffee-cup.svg);
  width: 20px;
  height: 20px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 65px;
  transition: all linear 0.5s;
}
@media screen and (max-width: 800px) {
  .enjoy__content .enjoy__btn::after {
    opacity: 1;
    visibility: visible;
  }
}
@media (hover: hover) {
  .enjoy__content .enjoy__btn:hover {
    padding-right: 30px;
  }
  .enjoy__content .enjoy__btn:hover::after {
    opacity: 1;
    visibility: visible;
  }
}
.enjoy__content .enjoy__btn:active {
  transform: scale(0.9);
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}
@media screen and (max-width: 440px) {
  .wrapper {
    padding: 0 16px 40px 16px;
  }
}

.container {
  max-width: 1360px;
  min-width: 348px;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 680px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 770px) {
  .link {
    font-size: 32px;
    line-height: 40px;
  }
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.favorites__container {
  margin: 0 auto;
}

.favorites__title {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
}

.favorites__content {
  width: 100%;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto;
  gap: 40px;
}
@media screen and (max-width: 1432px) {
  .favorites__content {
    padding: 0;
  }
}
@media screen and (max-width: 640px) {
  .favorites__content {
    gap: 0;
  }
}

.favorites__arrow {
  width: 60px;
  height: 60px;
  border: 1px solid #665F55;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all linear 0.7s;
}
@media screen and (max-width: 640px) {
  .favorites__arrow {
    display: none;
  }
}
.favorites__arrow .arrow-svg path {
  transition: all linear 0.7s;
}

@media (hover: hover) {
  .favorites__arrow:hover {
    background-color: #665F55;
  }
}
@media (hover: hover) {
  .favorites__arrow:hover .arrow-svg path {
    stroke: #E1D4C9;
  }
}
.favorites__carusel {
  max-width: 1150px;
  overflow-x: hidden;
}
@media screen and (max-width: 1432px) {
  .favorites__carusel {
    max-width: 84.5%;
    width: 84, 5%;
  }
}
@media screen and (max-width: 1250px) {
  .favorites__carusel {
    max-width: 80%;
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .favorites__carusel {
    max-width: 480px;
    width: 480px;
  }
}
@media screen and (max-width: 640px) {
  .favorites__carusel {
    max-width: 100%;
    width: 100%;
  }
}
.favorites__carusel .favorites__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(1150px);
}
@media screen and (max-width: 1432px) {
  .favorites__carusel .favorites__slider {
    transform: translate(100%);
  }
}
.favorites__carusel .favorites__slider .favorites__card {
  min-width: 1150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1432px) {
  .favorites__carusel .favorites__slider .favorites__card {
    min-width: 100%;
    width: 100%;
  }
}
.favorites__carusel .favorites__slider .favorites__card .favorites__img {
  width: 480px;
  height: 480px;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 640px) {
  .favorites__carusel .favorites__slider .favorites__card .favorites__img {
    width: 348px;
    height: 348px;
  }
}
.favorites__carusel .favorites__slider .favorites__card .favorites__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.favorites__carusel .favorites__slider .favorites__card .favorites__subtitle {
  width: 100%;
  text-align: center;
  margin: 20px auto 15px auto;
}
.favorites__carusel .favorites__slider .favorites__card .favorites__text {
  max-width: 480px;
  text-align: center;
  margin: 0 auto;
}
.favorites__carusel .favorites__slider .favorites__card .favorites__price {
  width: 100%;
  text-align: center;
  margin: 16px auto 0 auto;
}

.favorites__pagination {
  width: 145px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.favorites__pagination .pagination__item {
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: #C1B6AD;
}
.favorites__pagination .pagination__item_active {
  background-color: #665F55;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}
@media screen and (max-width: 440px) {
  .wrapper {
    padding: 0 16px 40px 16px;
  }
}

.container {
  max-width: 1360px;
  min-width: 348px;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 680px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 770px) {
  .link {
    font-size: 32px;
    line-height: 40px;
  }
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.about__container {
  margin: 100px auto 60px auto;
}

.about__title {
  max-width: 1360px;
}

.about__grid {
  width: 100%;
  margin: 40px auto;
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-areas: "a c" "a c" "a c" "a d" "b d" "b d" "b d";
}
@media screen and (max-width: 800px) {
  .about__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
.about__grid .about__item {
  width: 660px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media screen and (max-width: 1432px) {
  .about__grid .about__item {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .about__grid .about__item {
    width: 684px;
  }
}
@media screen and (max-width: 750px) {
  .about__grid .about__item {
    width: 100%;
  }
}
.about__grid .about__item img {
  width: 726px;
  height: 726px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all linear 0.7s;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 1432px) {
  .about__grid .about__item img {
    width: 110%;
  }
}
@media screen and (max-width: 800px) {
  .about__grid .about__item img {
    width: 726px;
  }
}
@media screen and (max-width: 750px) {
  .about__grid .about__item img {
    width: 110%;
  }
}
@media (hover: hover) {
  .about__grid .about__item:hover img {
    border-radius: 20px;
    transform: scale(0.95);
  }
}
.about__grid .about__item1 {
  grid-area: a;
  height: 590px;
  aspect-ratio: 660/590;
}
.about__grid .about__item2 {
  grid-area: b;
  height: 430px;
  aspect-ratio: 660/430;
}
@media screen and (max-width: 800px) {
  .about__grid .about__item2 {
    display: none;
  }
}
.about__grid .about__item3 {
  grid-area: c;
  height: 430px;
  aspect-ratio: 660/430;
}
@media screen and (max-width: 800px) {
  .about__grid .about__item3 {
    display: none;
  }
}
.about__grid .about__item4 {
  grid-area: d;
  height: 590px;
  aspect-ratio: 660/590;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}
@media screen and (max-width: 440px) {
  .wrapper {
    padding: 0 16px 40px 16px;
  }
}

.container {
  max-width: 1360px;
  min-width: 348px;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 680px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 770px) {
  .link {
    font-size: 32px;
    line-height: 40px;
  }
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.mobile__container {
  margin: 60px auto 100px auto;
  display: flex;
  gap: 100px;
}
@media screen and (max-width: 1100px) {
  .mobile__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 440px) {
  .mobile__container {
    gap: 40px;
  }
}
.mobile__container .mobile__content {
  align-self: center;
  max-width: 50%;
}
@media screen and (max-width: 1100px) {
  .mobile__container .mobile__content {
    max-width: 100%;
  }
}
.mobile__container .mobile__content .mobile__title {
  max-width: 600px;
}
@media screen and (max-width: 1100px) {
  .mobile__container .mobile__content .mobile__title {
    max-width: 100%;
  }
}
.mobile__container .mobile__content .mobile__text {
  max-width: 630px;
  margin: 40px 0;
}
@media screen and (max-width: 1100px) {
  .mobile__container .mobile__content .mobile__text {
    max-width: 100%;
  }
}
.mobile__container .mobile__content .mobile__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 440px) {
  .mobile__container .mobile__content .mobile__buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}
.mobile__container .mobile__content .mobile__buttons .mobile__btn {
  border: 1px solid #665F55;
  padding: 12px 20px 10px 20px;
  display: flex;
  align-items: center;
  gap: 17px;
  transition: all ease 0.7s;
}
.mobile__container .mobile__content .mobile__buttons .mobile__btn .mobile__icon {
  width: 26px;
  height: 31px;
}
.mobile__container .mobile__content .mobile__buttons .mobile__btn .mobile__icon .btn-svg {
  fill: #403F3D;
  transition: all ease 0.7s;
}
.mobile__container .mobile__content .mobile__buttons .mobile__btn .mobile__services .services__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  color: #403F3D;
  transition: all ease 0.7s;
}
.mobile__container .mobile__content .mobile__buttons .mobile__btn .mobile__services .services__title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
  transition: all ease 0.7s;
}
@media (hover: hover) {
  .mobile__container .mobile__content .mobile__buttons .mobile__btn:hover {
    background-color: #665F55;
  }
}
@media (hover: hover) {
  .mobile__container .mobile__content .mobile__buttons .mobile__btn:hover .services__subtitle {
    color: #E1D4C9;
  }
}
@media (hover: hover) {
  .mobile__container .mobile__content .mobile__buttons .mobile__btn:hover .services__title {
    color: #E1D4C9;
  }
}
@media (hover: hover) {
  .mobile__container .mobile__content .mobile__buttons .mobile__btn:hover .mobile__icon .btn-svg {
    fill: #E1D4C9;
  }
}
.mobile__container .mobile__img {
  width: 630px;
  height: 630px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
@media screen and (max-width: 1432px) {
  .mobile__container .mobile__img {
    width: 46%;
    height: auto;
  }
}
@media screen and (max-width: 1100px) {
  .mobile__container .mobile__img {
    width: 630px;
    height: 630px;
  }
}
@media screen and (max-width: 700px) {
  .mobile__container .mobile__img {
    width: 348px;
    height: 348px;
  }
}
.mobile__container .mobile__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}
@media screen and (max-width: 440px) {
  .wrapper {
    padding: 0 16px 40px 16px;
  }
}

.container {
  max-width: 1360px;
  min-width: 348px;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 680px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 770px) {
  .link {
    font-size: 32px;
    line-height: 40px;
  }
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.footer__container {
  width: 100% auto;
  margin: 0 auto;
  padding: 100px;
  max-height: 450px;
  display: flex;
  background-color: #665F55;
  border-radius: 40px;
  gap: 100px;
}
@media screen and (max-width: 1100px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    max-height: 740px;
    padding: 100px 60px;
  }
}
@media screen and (max-width: 460px) {
  .footer__container {
    gap: 0;
    height: auto;
    padding: 60px 16px;
  }
}

.footer__content .footer__title {
  color: #E1D4C9;
  max-width: 530px;
}
.footer__content .footer__media {
  margin: 40px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (max-width: 460px) {
  .footer__content .footer__media {
    margin-bottom: 0;
  }
}
.footer__content .footer__media .footer__media-item {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid #C1B6AD;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
}
.footer__content .footer__media .footer__media-item .social-svg {
  fill: none;
}
.footer__content .footer__media .footer__media-item .social-svg path {
  transition: all ease-in-out 0.7s;
}
@media (hover: hover) {
  .footer__content .footer__media .footer__media-item:hover {
    background-color: #E1D4C9;
  }
}
@media (hover: hover) {
  .footer__content .footer__media .footer__media-item:hover .social-svg path {
    stroke: #403F3D;
  }
}

.footer__contacts .footer__subtitle {
  margin: 35px 0 38px 0;
  color: #E1D4C9;
}
@media screen and (max-width: 860px) {
  .footer__contacts .footer__subtitle {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 460px) {
  .footer__contacts .footer__subtitle {
    margin: 40px 0;
  }
}
.footer__contacts .footer__menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateX(32px);
}
.footer__contacts .footer__menu .footer__contact {
  max-width: 230px;
}
.footer__contacts .footer__menu .footer__contact .footer__link {
  display: inline-block;
  color: #E1D4C9;
  cursor: pointer;
  position: relative;
}
.footer__contacts .footer__menu .footer__contact .footer__link::before {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -32px;
}
.footer__contacts .footer__menu .footer__contact .footer__link::after {
  content: "";
  display: block;
  width: 1px;
  margin: 0 auto;
  height: 2px;
  transition: all linear 1s;
  position: absolute;
  bottom: -2px;
  right: 0;
  left: -20%;
}
@media (hover: hover) {
  .footer__contacts .footer__menu .footer__contact .footer__link:hover::after {
    width: 120%;
    background-color: #E1D4C9;
  }
}
.footer__contacts .footer__menu .footer__contact .footer__link1::before {
  content: url(../icon/mark.svg);
}
.footer__contacts .footer__menu .footer__contact .footer__link2::before {
  content: url(../icon/Path.svg);
}
.footer__contacts .footer__menu .footer__contact .footer__link3 {
  pointer-events: none;
}
.footer__contacts .footer__menu .footer__contact .footer__link3::before {
  content: url(../icon/clock.svg);
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-SemiBoldItalic.otf);
  font-weight: 600;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
  background-color: #E1D4C9;
  padding: 0 40px 40px 40px;
  overflow-x: hidden;
}
@media screen and (max-width: 440px) {
  .wrapper {
    padding: 0 16px 40px 16px;
  }
}

.container {
  max-width: 1360px;
  min-width: 348px;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 680px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
.title span {
  font-style: italic;
  color: #B0907A;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #403F3D;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
}
@media screen and (max-width: 770px) {
  .link {
    font-size: 32px;
    line-height: 40px;
  }
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #403F3D;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  cursor: pointer;
}

.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(64, 63, 61, 0.8);
  z-index: 100;
}

.modal__card {
  display: flex;
  gap: 20px;
  width: 800px;
  padding: 16px;
  background-color: #E1D4C9;
  border-radius: 40px;
}
.modal__card .modal__img {
  width: 300px;
  height: 300px;
}
.modal__card .modal__img img {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.modal__title {
  color: #403F3D;
  margin-bottom: 12px;
}

.modal__text {
  color: #403F3D;
  margin-bottom: 20px;
}

.modal__choose {
  color: #403F3D;
  margin-bottom: 8px;
}

.modal__buttons {
  max-width: 440px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.modal__buttons .modal__radio {
  display: none;
}

.modal__button {
  max-width: 145px;
  min-width: 100px;
  height: 46px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  padding: 8px 16px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.modal__button .modal__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
  background-color: #C1B6AD;
  border-radius: 100%;
  transition: all ease-in-out 0.5s;
}
.modal__button .modal__label {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
  transition: all ease-in-out 0.5s;
}

.modal__button1, .modal__button2, .modal__button3 {
  width: 120px;
}

.modal__button4, .modal__button6 {
  width: 108px;
}

.modal__button5 {
  width: 142px;
}

@media (hover: hover) {
  .modal__button:hover {
    background-color: #665F55;
  }
  .modal__button:hover .modal__label {
    color: #E1D4C9;
  }
  .modal__button:hover .modal__icon {
    background-color: #E1D4C9;
  }
}
.modal__radio:checked + .modal__button {
  background-color: #665F55;
  cursor: auto;
}
.modal__radio:checked + .modal__button .modal__label {
  color: #E1D4C9;
}
.modal__radio:checked + .modal__button .modal__icon {
  background-color: #E1D4C9;
}

.modal__sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #C1B6AD;
}

.modal__info {
  display: flex;
  gap: 8px;
  padding: 12px 0;
  margin-bottom: 20px;
}
.modal__info .modal__logo {
  width: 16px;
  height: 16px;
}
.modal__info .modal__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal__info .modal__small {
  max-width: 410px;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  color: #403F3D;
}

.modal__btn {
  width: 438px;
  height: 44px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #403F3D;
  background-color: transparent;
  border: 1px solid #665F55;
  border-radius: 100px;
  cursor: pointer;
  text-align: center;
  transition: all linear 0.5s;
}

.modal__btn:hover {
  color: #E1D4C9;
  background-color: #665F55;
}/*# sourceMappingURL=style.css.map */